
*{
    box-sizing: border-box;
}
.container{
    text-align:center;
}
.game{
    background: rgba(51, 124, 168, 0.65);
    width: 500px;
    min-height: 700px;
    text-align: center;
    margin:50px;
    border:2px solid #4d4a70;
    border-radius: 10px;
    display:block;
    position: relative;
}
.password-box{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.description{
    padding:10px;
    display:inline-block;
    font-family: 'Cuprum', sans-serif;
}
.description div{
    margin:0;
}
.description>div{
    margin:15px;
}
.description p{
    margin-top:25px;

}
.description span{
    margin-right:25px;
}
#password, #answer{
    height: 50px;
    border: 1px solid #4d4a70;
    font-size:40px;
    width:300px;

}
.password-box>span{
    margin-top:20px;
    font-family: 'Cuprum', sans-serif;
}

.start{
    margin: 50px 170px 0 165px;
    height:150px;
    width: 150px;
    font-size:18px;
}

.check{
    margin:10px 200px 0 205px;
    height:65px;
    width: 65px;
}
.check:hover{
    background: #1d8b19;
    border:6px solid #fff69a;
    font-size:10px;
}
.start:hover{
    background:darkred;
    border:10px solid pink;
    font-size:30px;
}
.btn{
    border-radius: 50%;
    color:white;
    background: #8b167f;
    border:2px solid #8b0740;
    display:block;
    font-family: 'Cuprum', sans-serif;
}

.answer-box{

    padding:30px 0 10px 0;
    visibility: hidden;
    position: absolute;
    display:flex;
    align-items: center;
    flex-direction: column;
    min-height: 500px;


}
.answers{
    padding:10px 0 10px 0;
    display:inline-block;
    list-style-type: none;
}
.answers li{
    height: 50px;
}
#inf{
    font-family: 'Cuprum', sans-serif;
}
.word{
    font-size:30px;
    font-family: 'Caveat', cursive;
   }
.word, .dots{
    float:left;
    width:200px;
    display:block;


}
.dots{
    width:200px;
    height: 25px;
    flex-wrap: wrap;

}
.green, .white{
    width:20px;
    height: 20px;
    border-radius:50%;
    float:left;
    justify-content: center;
    margin:5px 5px 0 5px;
    border: 2px solid black;
    align-items: center;
}

.green{
    background: green;
    border: 3px solid #fff;
    border-radius: 100%;

     }
.white{
    background: white;

}
.black{
    margin-left: -75px;
}
.timer-btn{

}
.timer-set{
    display:none;
    margin-top:20px;

}
.min-sec-set{
    display:inline-block;
}
.min-sec-set>span{
    margin-top:5px;
    color:white;
}
.timer{
    font-size: 25px;
}
.inner-time{
    font-weight: bold;
    color: #212121;
    width: 120px;
    height: 25px;
    font-family: 'Cuprum', sans-serif;
    font-size:20px;
}
.min, .sec{
    display:flex;
    flex-direction: row;
    width:150px;
}
.up-min, .up-sec, .down-min, .down-sec{
    height:40px;
    width:40px;
    border-radius: 50%;
    color: white;
    cursor:pointer;
}

.up-min, .up-sec, .down-min, .down-sec, .min-value, .sec-value{
    display:inline-block;
    float:left;
    font-size: 32px;
}
.up-min, .up-sec{
    background: rgba(0, 128, 0, 0.82);
}

.down-min, .down-sec{
    background: rgba(255, 0, 0, 0.77);
}
.min-value, .sec-value{
    text-align: center;
    width:60px;
}
