*{
    box-sizing: border-box;
}
.container{
    text-align:center;
}
.game{
    background: rgba(51, 124, 168, 0.65);
    width: 500px;
    min-height: 700px;
    text-align: center;
    margin:50px;
    border:2px solid #4d4a70;
    border-radius: 10px;
    display:block;
    position: relative;
}
.password-box{
    margin-top:50px;
    padding:10px 0 10px 0;
    position:absolute;
}
.description{
    padding:10px;
    display:inline-block;
    font-family: 'Cuprum', sans-serif;
}
.description div{
    margin:0;
}
.description>div{
    margin:15px;
}
.description p{
    margin-top:25px;
}
.description span{
    margin-right:25px;
}
#password{
    display:block;
    margin:10px 150px 0 155px;

}

#password, #answer{
    height: 30px;
    border: 1px solid #4d4a70;
    display:block;
    margin:30px 150px 0 155px;
}

.start{
    margin: 50px 170px 0 160px;
    height:150px;
    width: 150px;
    font-size:18px;
}
.check{
    margin:10px 200px 0 205px;
    height:65px;
    width: 65px;
}
.check:hover{
    background: #1d8b19;
    border:6px solid #fff69a;
    font-size:10px;
}
.start:hover{
    background:darkred;
    border:10px solid pink;
    font-size:30px;
}
.btn{
    border-radius: 50%;
    color:white;
    background: #8b167f;
    border:2px solid #8b0740;
    display:block;
    font-family: 'Cuprum', sans-serif;
}

.answer-box{

    padding:30px 0 10px 0;
    visibility: hidden;
    position: absolute;


}
.answers{
    margin-top:150px;
    padding:10px 0 10px 0;
    display:inline-block;
    list-style-type: none;
}
.answers li{
    height: 45px;

}
#inf{
    font-family: 'Cuprum', sans-serif;
}
.word{
    font-size:30px;
    padding-right: 25px;
    font-family: 'Caveat', cursive;

   }
.word, .dots{
    display:inline-block;
}
.dots{
    width:200px;
    height: 25px;

}
.green, .white{
    width:20px;
    height: 20px;
    border-radius:50%;
    float:left;
    justify-content: center;
    margin:5px 5px 0 5px;
    border: 2px solid black;
}

.green{
    background: green;
    border: 3px solid #fff;
    border-radius: 100%;
     }
.white{
    background: white;
}
.black{
    margin-left: -75px;
}